{% extends 'base.html' %}

{% block head %}
	<title>Home</title>
{% endblock %}

{% block body %}

	<div class="jumbotron">
		<div class="container">
			<h1>ChemTox Data Management Website</h1>
			<p>Process and Manage Data</p>
			<a href="#">About Us</a>
		</div>
	</div>
	<div class="learn-more">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h3>Explore</h3>
					<p>Explore all the chemical data held in the database</p>
					<p><a href="explore">Explore</a></p>
				</div>
				<div class="col-md-4">
					<h3>Manage</h3>
					<p>Add in or update existing data to expand upon the database</p>
					<p><a href="manage">Manage</a></p>
				</div>
				<div class="col-md-4">
					<h3>Visualize</h3>
					<p>Visiualize data with our interactive data viewer</p>
					<p><a href="#">Visualize</a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="navbar navbar-default navbar-fixed-bottom">
    	<div class="container">
    		<p class="navbar-text pull-left">© 2018 - ChemTox Data Management</p>
    	</div>
    </div>

{% endblock %}